{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ERPbr | Log in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'admin/dist/css/adminlte.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
<div class="login-box">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible">
                            <strong>{{ field.name }}-{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}


    <div class="login-logo">
        <a href="#"><b>ERP</b>br</a>
    </div>

    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Bem-vindo ao Desktop da empresa <b>{{ request.tenant.nome }}</b></p>
            <p class="login-box-msg">Digite seu usuário e senha para obter acesso ao sistema.</p>

            <form action="{% url 'account:erpbr_login' %}" method="post" autocomplete="off">
                {% csrf_token %}

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Usuário" autofocus id="username" name="username">
                    <div class="input-group-append">
                        <span class="fa fa-user input-group-text"></span>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Senha" id="password" name="password">
                    <div class="input-group-append">
                        <span class="fa fa-lock input-group-text"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
                    </div>
                </div>
            </form>

            <p class="mb-1">
                <a href="#">Esqueci minha senha.</a>
            </p>
        </div>
    </div>
</div>
<script src="{% static 'admin/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
