{% load static %}
{% load erpbr_navbar %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="{% url 'desk:dashboard' %}" class="brand-link">
        <img src="{% static 'admin/dist/img/AdminLTELogo.png' %}" alt="ERPbr"
             class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">ERPbr</span>
    </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'admin/dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2"
                     alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ user.get_short_name }}</a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <li class="nav-item">
                    <a href="{% url 'desk:dashboard' %}" class="nav-link {% navactive request 'desk:dashboard' %}">
                        <i class="nav-icon fa fa-dashboard"></i>
                        <p>
                            Início
                        </p>
                    </a>
                </li>
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-circle-o"></i>
                        <p>
                            Cadastros
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        {% if perms.cliente.view_content %}
                            <li class="nav-item">
                                <a href="{% url 'cadastro:cliente_list' %}"
                                   class="nav-link {% navactive request 'cadastro:cliente_list' %}">
                                    <i class="fa fa-users nav-icon"></i>
                                    <p>Clientes</p>
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.fornecedor.view_content %}
                            <li class="nav-item">
                                <a href="{% url 'cadastro:fornecedor_list' %}"
                                   class="nav-link {% navactive request 'cadastro:fornecedor_list' %}">
                                    <i class="fa fa-address-book-o nav-icon"></i>
                                    <p>Fornecedores</p>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-th"></i>
                        <p>
                            Simple Link
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
